# fly.toml app configuration file generated for backend-7hxyz on 2026-01-15T14:00:06+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-7hxyz'
primary_region = 'arn'

[build]

[env]
  SERVER_ADDRESS = '0.0.0.0'
  SERVER_PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 2048
