# fly.toml app configuration file generated for backend-7hxyz on 2026-01-15T23:48:51Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vanemarendaja-borsibaar-backend'
primary_region = 'arn'

[build]

[env]
  SERVER_ADDRESS = '0.0.0.0'
  SERVER_PORT = '8080'
  
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
